rules_version = '2';

service cloud.firestore {
	match /databases/{database}/documents {
		// ユーザー固有のデータにアクセスを許可
		match /users/{uid}/selections/{selectionId} {
			allow read, write: if request.auth != null && request.auth.uid == uid;
		}
	}
}
